* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 800px;
}

.input {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input__submit {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 12px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}
.input__submit:hover {
  background-color: #388ae2;
}
.input__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(50, 195, 205);
  padding: 15px;
  padding-bottom: 30px;
  margin-top: 15px;
  border-radius: 10px;
}

.todos__heading {
  font-size: 30px;
  color: white;
}

.todos__single {
  display: flex;
  width: 90%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: #eac61e;
  transition: 0.2s all;
}
.todos__single:hover {
  background-color: yellow;
  transform: scale(1.01);
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}
.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 25px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 850px) {
  .container {
    width: 95vw;
  }
  .todos__single {
    width: 100%;
  }
  .todos__icons {
    display: flex;
    align-items: center;
  }
  .icon {
    font-size: 20px;
    margin-left: 5px;
  }
}
